@import '~bootstrap/scss/bootstrap';

.jumbotron {
    background-image: url("../images/med.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
}

.bordered {
    border: 1px solid #c0c0c0;
}
